<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
    <meta name="description" content="Welcome to VARoadstter Solutions.">
    <meta property="og:title" content="VARoadstter">
    <meta property="og:image" content="{{ '/assets/background_image.jpg' | relative_url }}">
    <meta property="og:url" content="https://varoadstter.github.io">
</head>
<body>
    <div id="header">
        {% include header.html %}
    </div>
    <div id="hero">
        {% include hero.html %}
    </div>
    <main class="content-section">
        {{ content }}
    </main>
    <footer>
        <p>&copy; 2023 VARoadstter Solutions. All rights reserved.</p>
    </footer>
</body>
</html>